$header-height: 70px;
$border-color: #adaaaa;
$navbar-width: 250px;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}
a,
a:visited,
a:active {
  text-decoration: none;
}
.layout-container {
  display: flex;
}

.searchbar {
  width: 40%;
  padding: 5px 10px;
  margin: 20px auto;
  border: 2px solid $border-color;
  &-container {
    text-align: center;
    border-bottom: 2px solid $border-color;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: white;
    width: 100%;
  }
}
.navbar-container {
  min-width: $navbar-width;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - #{$header-height});
  border-right: 2px solid $border-color;
  position: fixed;
  z-index: 1;
  top: $header-height;
  left: 0;
  overflow-x: hidden;
}
.grid-container {
  position: relative;
  top: $header-height;
  left: $navbar-width;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: calc(100vw - #{$navbar-width});
  &--no-results {
    margin: 20px auto;
  }
}

.item-container {
  max-height: 300px;
  padding: 0 20 0 0px;
  height: auto;
  max-width: 350px;
  border: 2px solid $border-color;
  margin: 20px;
}
.image {
  height: 250px;
  width: 250px;
  object-fit: cover;
  &-text {
    text-align: center;
    margin: 10px;
  }
}

.categories-wrapper {
  margin: 20px 0;
}
.category-item {
  background-color: #fbe5d6;
  padding: 5px 10px;
  cursor: pointer;
  &:nth-child(2n) {
    background-color: #f8cbad;
  }
}

.opacity-control-container {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  margin: 20px auto;
}
.input-slider-container {
  border: 2px solid $border-color;
  text-align: center;
}
#opacity-input-slider {
  writing-mode: bt-lr;
  -webkit-appearance: slider-vertical;
  width: 30px;
  height: 175px;
  padding: 0 5px;
}
#opacity-text-input {
  width: 40%;
  padding: 5px 10px;
  border: 2px solid $border-color;
}
